LerrAzureDemo/LerrAzureDemo/Service References/ServiceReference1/VogelServiceHandler2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LerrAzureServiceDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LerrAzureServiceDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVogelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VogelDTO" nillable="true" type="tns:VogelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVogelDTO" nillable="true" type="tns:ArrayOfVogelDTO" />
  <xs:complexType name="VogelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VogelDTO" nillable="true" type="tns:VogelDTO" />
</xs:schema>