LerrAzureDemo/LerrAzureDemo/Service References/ServiceReference1/VogelServiceHandler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49254/VogelServiceHandler.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LerrAzureServiceDemo" />
  <xs:element name="GetBirds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LerrAzureServiceDemo" minOccurs="0" name="GetBirdsResult" nillable="true" type="q1:ArrayOfVogelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>